patroni[etcd3]==4.1.0
psycopg[binary]==3.2.10
psycopg-binary==3.2.10
PyYAML==6.0.3
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.5.0
dnspython==2.8.0
idna==3.19
prettytable==3.18.0
psutil==7.2.2
py-consul==1.7.1
python-dateutil==2.9.0.post0
python-etcd==0.4.5
requests==2.34.2
six==1.17.0
typing-extensions==4.16.0
urllib3==2.7.0
wcwidth==0.8.3
ydiff==1.4.2
